body { 
    background-color: indianred;
}
h1 {
    text-align: center;
}

.house-card {
    background-color: gray;
    width: 150px;
    padding: 50px;
    margin: 20px;
    display: inline-block;
}

